.pic:hover{
  transform: scale(.95);
}

body{
  background: url("Remodeling.jpg");
  background-size: cover;

}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 100px;

}

/* Default navbar is set to trasparent */
nav.shrink{
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  padding-top:  0px;
}

/*  */
